
/*=============================================
=                    COLORS                   =
=============================================*/

$white: #fff;
$white_dusty: #f9f9f9;

$blue: #2ca3d1;
$blue_serene: #c2eeff;

$lilac: #edc5ff;

$black: #000;
$black_md: #1d1d1d;

/*=====          End of COLORS         ======*/

/*=============================================
=                    BREAKPOINTS                   =
=============================================*/

$large: 1200px;
$medium: 1024px;
$small: 880px;
$small_extra: 600px;

/*=====          End of BREAKPOINTS         ======*/

