@import '../../styles/mixins';
@import '../../styles/variables';

.main {
  @include flexCentered(column, center);

  gap: 104px;
  padding-bottom: 373px;

  &_about_us {
    @include widthHeight(100%, 780px);
    @include backgroundImage;

    position: relative;
    background-position: bottom right;
    background-size: cover;

    background-image: url(../../assets/icon_svg/about_bg.svg);

    &__peoples {
      @include absolute(164px, 110px);
      @include widthHeight(640px, 412px);
      @include backgroundImage;
  
      background-image: url(../../assets/icon_svg/peoples.svg);
    }

    &__dolphin {
      @include absolute(79px, null, null, 149px);
      @include widthHeight(109px, 117px);
      @include backgroundImage;
  
      background-image: url(../../assets/icon_svg/dolphin.svg);
    }

    &__container {
      @include absolute(134px, null, null, 200px);
      @include widthHeight(450px);

      color: $white;
      z-index: 3;
    }

    &_title {
      @include text(46px, 69px, 700);

      margin-bottom: 48px;
    }

    &_label {
      @include text(30px, 45px, 600);

      margin-bottom: 16px;
    }

    &_text {
      @include text(20px);
    }
  }

  &_our_vision {
    @include flexCentered;
    @include widthHeight(100%);

    gap: 120px;

    &_box {
      @include flexCentered(column, center, flex-start);
      @include widthHeight(455px, 300px);

      padding: 47px 27.5px;
      color: $black_md;
      border-radius: 18px;

      &__lilac {
        background-color: $lilac;
      }

      &__blue {
        background-color: $blue;
      }
    }

    &_title {
      @include text(32px, 48px, 700);

      margin-bottom: 32px;
      text-align: center;
    }

    &_text {
      @include text(24px);
    }
  }

  @include mediaQuery($large) {
    &_about_us {
      height: 650px;
      &__peoples {
        top: 11%;
        right: 7.6%;
        @include widthHeight(533px, 343px);
      }
      &__container {
        top: 11%;
        left: 60px;
      }
      &__dolphin {
        top: 16px;
        left: 10px;
      }
    }
    &_our_vision {
      gap: 60px;
    }
  }
  @include mediaQuery($medium) {
    &_about_us {
      height: 554px;
      &__peoples {
        @include widthHeight(454px, 293px);
      }
      &__container {
        left: 60px;
      }
      &_title {
        margin-bottom: 24px;
      }
    }
    &_our_vision {
      flex-direction: column;
    }
  }
  @include mediaQuery($small) {
    gap: 64px;
    &_about_us {
      &__peoples {
        display: none;
      }
      &__container {
        width: calc(100% - 120px);
      }
    }
  }
  @include mediaQuery($small_extra) {
    &_about_us {
      &_title {
        @include text(36px, 54px);
      }
      &__dolphin {
        @include widthHeight(80px, 85px);
        top: 18px;
        left: 18px;
      }
    }
    &_our_vision {
      &_box {
        @include widthHeight(300px);
      }
    }
  }
}
